<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Online Student Registration System</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <h4><a href="/">SRS</a></h4>
      </div>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">services</a></li>
        </ul>
      </nav>
    </header>
    <h1>Sign-up Page</h1>
  </body>
</html>
